.VPHome {
  background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F201605%2F12%2F20160512103821_VSUtn.thumb.400_0.gif&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1709087066&t=b79057d3794fbf21bc8b609704cdd542');
  background-size: cover;
  background-position: center;
}